---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/wapi/v3/depositHistory.html?recvWindow=59999&signature=8a97419b30a288718717cd6f753f3c6dd786696f5785d2d6a8edf7122dac9672&startTime=0&timestamp=1567080321566
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"success":true,"depositList":[{"insertTime":1517399982000,"amount":11.0,"creator":null,"address":"0x85ba6b28fb0577105da58b8284d7dc12ce54b85b","addressTag":"","txId":"0xae47c6cfbe5dd7f3bee8b4b726c6cb0ecf3c08dfc24fa92285773a8b5a150824","asset":"ETH","status":1},{"insertTime":1517399132000,"amount":1.0,"creator":null,"address":"0x85ba6b28fb0577105da58b8284d7dc12ce54b85b","addressTag":"","txId":"0xe97cafc4d8ab7e6f6771f31459e84bc00422a078584dae6e8746bf6a92bcd0de","asset":"ETH","status":1},{"insertTime":1516792211000,"amount":2.0,"creator":null,"address":"La8MtB4Kw9cD5EywEE4zK6jE4kVZqEmjtz","addressTag":"","txId":"a9de9e3e00df0196746e3f84bfb94e9d03db028c55805ba40c85e77e16a9aee9","asset":"LTC","status":1}]}'
  recorded_at: Thu, 29 Aug 2019 12:05:22 GMT
- request:
    method: get
    uri: https://api.binance.com/wapi/v3/withdrawHistory.html?recvWindow=59999&signature=44214950452c7532f39163a5bdfc29181c872d72028cb179acc24c7db27ac7f6&startTime=0&timestamp=1567080322349
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"withdrawList":[{"amount":12.35825470,"address":"0x519dFC92B0ED9b18133877228237EB5d47C74c20","successTime":1518236859000,"addressTag":"","txId":"0xad4c7c2dbb4ada85d4352d996eea09c0d71bf19addeddf275e22173c89e81d6e","id":"ee872d8853dc4a118d080dd1a9f04411","asset":"ETH","applyTime":1518236241000,"status":6}],"success":true}'
  recorded_at: Thu, 29 Aug 2019 12:05:22 GMT
- request:
    method: get
    uri: https://api.binance.com/wapi/v3/userAssetDribbletLog.html?recvWindow=59999&signature=b0b41e6ec2910d919c5cc616d5f69abb3c85af8fa9ae7d54a54aedadaeb22da3&timestamp=1567080322692
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"success":true,"results":{"total":1,"rows":[{"transfered_total":"0.00003657","service_charge_total":"0.00000075","tran_id":3873077357,"logs":[{"tranId":3873077357,"serviceChargeAmount":"0.00000075","uid":"23626032","amount":"0.006","operateTime":"2019-03-26
        16:10:57","transferedAmount":"0.00003657","fromAsset":"XLM"}],"operate_time":"2019-03-26
        16:10:57"}]}}'
  recorded_at: Thu, 29 Aug 2019 12:05:23 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/account?recvWindow=59999&signature=ecedd9618748b56edac2072dbf0c97e1007f3c0cf7c3922822154208113e5399&timestamp=1567080323089
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 520471a7-0863-48ea-ae9c-ba448f7f75a3
      X-Mbx-Used-Weight:
      - '5'
      X-Mbx-Used-Weight-1m:
      - '5'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"canTrade":true,"canWithdraw":true,"canDeposit":true,"updateTime":1553616657763,"accountType":"MARGIN","balances":[{"asset":"BTC","free":"0.00000000","locked":"0.00000000"},{"asset":"LTC","free":"0.05000000","locked":"0.00000000"},{"asset":"ETH","free":"0.00000000","locked":"0.00000000"},{"asset":"NEO","free":"0.00000000","locked":"0.00000000"},{"asset":"BNB","free":"0.75195926","locked":"0.00000000"},{"asset":"QTUM","free":"0.00000000","locked":"0.00000000"},{"asset":"EOS","free":"0.00000000","locked":"0.00000000"},{"asset":"SNT","free":"0.00000000","locked":"0.00000000"},{"asset":"BNT","free":"0.00000000","locked":"0.00000000"},{"asset":"GAS","free"[...]
- request:
    method: get
    uri: https://api.binance.com/api/v1/exchangeInfo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - aa1002e3-9c74-4d14-9a53-1ab8587eca52
      X-Mbx-Used-Weight:
      - '6'
      X-Mbx-Used-Weight-1m:
      - '6'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"timezone":"UTC","serverTime":1567080323743,"rateLimits":[{"rateLimitType":"REQUEST_WEIGHT","interval":"MINUTE","intervalNum":1,"limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","intervalNum":1,"limit":10},{"rateLimitType":"ORDERS","interval":"DAY","intervalNum":1,"limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"ETHBTC","status":"TRADING","baseAsset":"ETH","baseAssetPrecision":8,"quoteAsset":"BTC","quotePrecision":8,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.00000100","maxPrice":"100000.00000000","tickSize":"0.00000100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPriceMins":5},{"filterType":"LOT_SIZE","minQty":"0.00100000","maxQty":"100000.00000000","stepSize":"0.00100000"},{"filterType":"MIN_NOTIONAL","minNotional":"0.00010000","applyToMarket":true,"avgPriceMins":5},{"filterType":"ICEBERG_PARTS","limit":10},{"filterType":"MARKET_LOT_SIZE","minQty":"0.00000000","maxQty":"63100.00000000","stepSize":"0.00000000"},{"filterType":"MAX_NUM_ALGO_ORDERS","maxNumAlgoOrders":5}]},{"symbol":"LTCBTC","status":"TRADING","baseAsset":"LTC","baseAssetPrecision":8,"quoteAsset":"BTC","quotePrecision":8,"orderTypes":["LIMIT","LIMIT_MAKER","MARKET","STOP_LOSS_LIMIT","TAKE_PROFIT_LIMIT"],"icebergAllowed":true,"ocoAllowed":true,"isSpotTradingAllowed":true,"isMarginTradingAllowed":true,"filters":[{"filterType":"PRICE_FILTER","minPrice":"0.00000100","maxPrice":"100000.00000000","tickSize":"0.00000100"},{"filterType":"PERCENT_PRICE","multiplierUp":"5","multiplierDown":"0.2","avgPr[...]
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=4fd0cd35d61a19633ec33c64c28774c914c24cf909483e93352667fb470e48cd&symbol=LTCETH&timestamp=1567080324353
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 5ef87f88-f13c-4ec9-bcc8-8a0e82a24936
      X-Mbx-Used-Weight:
      - '11'
      X-Mbx-Used-Weight-1m:
      - '11'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"symbol":"LTCETH","id":1304440,"orderId":4759110,"orderListId":-1,"price":"0.17812000","qty":"2.00000000","quoteQty":"0.35624000","commission":"0.00035624","commissionAsset":"ETH","time":1516792830023,"isBuyer":false,"isMaker":false,"isBestMatch":true}]'
  recorded_at: Thu, 29 Aug 2019 12:05:24 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=c0b6b07ea55827ba570d3c6036e42e52473e700e45f3b40f262007cda7ab590e&symbol=LTCBNB&timestamp=1567080324586
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 151521c0-d189-4488-9f43-76ce59d54df1
      X-Mbx-Used-Weight:
      - '16'
      X-Mbx-Used-Weight-1m:
      - '16'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"symbol":"LTCBNB","id":1210819,"orderId":11167243,"orderListId":-1,"price":"5.86000000","qty":"0.05000000","quoteQty":"0.29300000","commission":"0.00014633","commissionAsset":"BNB","time":1529227598627,"isBuyer":true,"isMaker":false,"isBestMatch":true}]'
  recorded_at: Thu, 29 Aug 2019 12:05:25 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=9c276b17763a26ff6146362f03ad4b63b02c2570fe27531c68515e14a657b8ed&symbol=BNBETH&timestamp=1567080325222
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 6fa2848f-30ac-4e7c-982e-[...]
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=da128f807b6642f150d475a995a6e93fa5e2d1710ae98bbe4177485db2b90bc0&symbol=BCPTETH&timestamp=1567080325481
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 5ef87f88-f13c-4ec9-bcc8-8a0e82a24936
      X-Mbx-Used-Weight:
      - '26'
      X-Mbx-Used-Weight-1m:
      - '26'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 29 Aug 2019 12:05:25 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=2b58b8b502cbd9e0bee1528fba704502d1b331fc267d634977d61b5288ebceed&symbol=BCPTBNB&timestamp=1567080325697
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - e9230673-d24c-4482-964a-fa26c2bcf34a
      X-Mbx-Used-Weight:
      - '31'
      X-Mbx-Used-Weight-1m:
      - '31'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 29 Aug 2019 12:05:25 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=1a75e7cc1db70469d180ab511bba1d101d6b4960c1a39249e4c65e0e598d7daf&symbol=XLMETH&timestamp=1567080325902
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 520471a7-0863-48ea-ae9c-[...]
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=f7e2fc7142718c37be45464376f70c9a1741518d7d0cac0ea849194cdad7f6c7&symbol=XLMBNB&timestamp=1567080327220
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - aa1002e3-9c74-4d14-9a53-1ab8587eca52
      X-Mbx-Used-Weight:
      - '41'
      X-Mbx-Used-Weight-1m:
      - '41'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"symbol":"XLMBNB","id":357912,"orderId":1955147,"orderListId":-1,"price":"0.04679000","qty":"455.53000000","quoteQty":"21.31424870","commission":"0.01065712","commissionAsset":"BNB","time":1517400143789,"isBuyer":false,"isMaker":false,"isBestMatch":true},{"symbol":"XLMBNB","id":357913,"orderId":1955147,"orderListId":-1,"price":"0.04675000","qty":"227.78000000","quoteQty":"10.64871500","commission":"0.00532436","commissionAsset":"BNB","time":1517400143789,"isBuyer":false,"isMaker":false,"isBestMatch":true}]'
  recorded_at: Thu, 29 Aug 2019 12:05:27 GMT
[...]
- request:
    method: get
    uri: https://api.binance.com/api/v3/myTrades?fromId=0&limit=1000&recvWindow=59999&signature=f9ef2a75ad8445f349e891dcf928b493ade621aef2a9585caea33c0cfe735e62&symbol=BCPTBNB&timestamp=1567080332089
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Mbx-Apikey:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mbx-Uuid:
      - 11567ba2-d46c-4da6-9d62-dff320ae2ae0
      X-Mbx-Used-Weight:
      - '76'
      X-Mbx-Used-Weight-1m:
      - '76'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 29 Aug 2019 12:05:32 GMT
recorded_with: VCR 4.0.0
