---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"tx":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:04 GMT
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y&endTime=1571097600000&limit=1000&offset=0&startTime=1563408000000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"AB20E180B98F1106F9DCAB9BF8696D7557FF480D0D3D8B8D2AFBA70486B58DBB","blockHeight":40014515,"txType":"NEW_ORDER","timeStamp":"2019-10-08T23:58:50.538Z","fromAddr":"bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y","toAddr":null,"value":"14.99146000","txAsset":"RUNE-B1A","txFee":"0.00000000","proposalId":null,"txAge":27945434,"orderId":"35FAA410682207EC0E73214D8FE883D84E00BCFF-1","code":0,"data":"{\"orderData\":{\"symbol\":\"RUNE-B1A_BNB\",\"orderType\":\"LIMIT\",\"side\":\"BUY\",\"price\":\"0.000821\",\"quantity\":\"18260\",\"timeInForce\":\"GTE\",\"orderId\":\"35FAA410682207EC0E73214D8FE883D84E00BCFF-1\"}}","confirmBlocks":0,"memo":"","source":0,"sequence":0},{"txHash":"E7DA1972531C1669A113E1B36CAEF4A30950EDCFB96A0DB9E0D57B841F25F139","blockHeight":40013852,"txType":"TRANSFER","timeStamp":"2019-10-08T23:54:43.399Z","fromAddr":"bnb1jxfh2g85q3v0tdq56fnevx6xcxtcnhtsmcu64m","toAddr":"bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y","value":"14.99900000","txAsset":"BNB","txFee":"0.00037500","proposalId":null,"txAge":27945681,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"","source":2,"sequence":336477},{"txHash":"7F1877B3C6E4C540C43CCCD8B3FA3[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '298'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:06 GMT
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y&end=1571097600000&limit=1000&offset=0&start=1563408000000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '298'
    body:
      encoding: UTF-8
      string: '{"trade":[{"tradeId":"40014515-1","blockHeight":40014515,"symbol":"RUNE-B1A_BNB","price":"0.00082100","quantity":"18260.00000000","buyerOrderId":"35FAA410682207EC0E73214D8FE883D84E00BCFF-1","sellerOrderId":"51C3E5C17DFA715C95FAAFD7E64DD26F884C847A-338","buyerSource":0,"sellerSource":0,"buyerId":"bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y","sellerId":"bnb128p7tstalfc4e9064lt7vnwjd7yyepr6cv059c","buyFee":"BNB:0.00599658;","sellFee":"BNB:0.00599658;","baseAsset":"RUNE-B1A","quoteAsset":"BNB","buySingleFee":"BNB:0.00599658;","sellSingleFee":"BNB:0.00599658;","tickType":"BuyTaker","time":1570579130538}],"total":1}'
  recorded_at: Thu, 27 Aug 2020 10:36:07 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/account/bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"account_number":218751,"address":"bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y","balances":[{"free":"88.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"CBM-4B2"},{"free":"5023.56000000","frozen":"0.00000000","locked":"0.00000000","symbol":"GTO-908"},{"free":"217.97000000","frozen":"0.00000000","locked":"0.00000000","symbol":"KAVA-10C"},{"free":"49330.76300000","frozen":"0.00000000","locked":"0.00000000","symbol":"ONE-5F9"},{"free":"0.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"RUNE-B1A"},{"free":"1.25619732","frozen":"0.00000000","locked":"0.00000000","symbol":"BNB"}],"flags":0,"public_key":[3,142,60,208,208,47,43,78,7,251,142,177,189,100,102,163,210,170,192,94,216,181,23,240,69,166,166,121,63,136,83,18,185],"sequence":10}

        '
  recorded_at: Thu, 27 Aug 2020 10:36:09 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1xha2gyrgygr7crnny9xcl6yrmp8qp08llnd80y&end=1583672400000&limit=1000&offset=0&start=1583672400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:10 GMT
recorded_with: VCR 4.0.0
