---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"tx":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:35:50 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax&endTime=1578787200000&limit=1000&offset=0&startTime=1571097600000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"3EAE932C9ABACAB88CC38CD68CA92D6B678583035E2E83E62EAB9AD2E8B7A3DB","blockHeight":51411685,"txType":"TRANSFER","timeStamp":"2019-11-28T04:07:27.232Z","fromAddr":"bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax","toAddr":"bnb1khqu84s7gz3lm0nnz47j4attl3lr4tgg6l8cpx","value":"1.07200000","txAsset":"BNB","txFee":"0.00037500","proposalId":null,"txAge":23610503,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"1447847883","source":1,"sequence":0},{"txHash":"7FB1D27674BE22D2E0D1B3AB858EE59DE44F0697BC4A0D100431390F6DC04E81","blockHeight":49624634,"txType":"TRANSFER","timeStamp":"2019-11-20T04:26:37.876Z","fromAddr":"bnb1jxfh2g85q3v0tdq56fnevx6xcxtcnhtsmcu64m","toAddr":"bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax","value":"1.07292937","txAsset":"BNB","txFee":"0.00037500","proposalId":null,"txAge":24300552,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"","source":0,"sequence":407583}],"total":2}'
  recorded_at: Thu, 27 Aug 2020 10:35:50 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:35:52 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/account/bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"account_number":314333,"address":"bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax","balances":[{"free":"0.00055437","frozen":"0.00000000","locked":"0.00000000","symbol":"BNB"}],"flags":0,"public_key":[3,218,4,74,86,101,119,29,255,95,84,44,201,149,237,29,63,139,96,176,21,199,231,43,135,222,244,76,143,32,238,39,18],"sequence":1}

        '
  recorded_at: Thu, 27 Aug 2020 10:35:55 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1k2v0g4eylh2h74w94u06rfn7qu4dl0y0d8wnax&end=1583672400000&limit=1000&offset=0&start=1583672400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '298'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:35:57 GMT
recorded_with: VCR 4.0.0
