---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1ea5ucfqfxpwfzsq3ukmf9ued4wemx970ahpdfs&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"E175DF0CAB0B8D416A1FB391515CDA1799664C7F3A4DC949BC6E3BC7A3E7A3A6","blockHeight":7755478,"txType":"TRANSFER","timeStamp":"2019-05-22T21:28:28.623Z","fromAddr":"bnb1jxfh2g85q3v0tdq56fnevx6xcxtcnhtsmcu64m","toAddr":"bnb1ea5ucfqfxpwfzsq3ukmf9ued4wemx970ahpdfs","value":"680.00000000","txAsset":"BNB","txFee":"0.00062500","proposalId":null,"txAge":39964062,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"Nina","source":null,"sequence":null}],"total":1}'
  recorded_at: Thu, 27 Aug 2020 10:36:10 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1ea5ucfqfxpwfzsq3ukmf9ued4wemx970ahpdfs&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:13 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/account/bnb1ea5ucfqfxpwfzsq3ukmf9ued4wemx970ahpdfs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"account_number":11938,"address":"bnb1ea5ucfqfxpwfzsq3ukmf9ued4wemx970ahpdfs","balances":[{"free":"680.00000020","frozen":"0.00000000","locked":"0.00000000","symbol":"BNB"},{"free":"2000.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"GIV-94E"},{"free":"1.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"SLV-986"},{"free":"10.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"SPNDB-916"},{"free":"4.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"VRAB-B56"}],"flags":0,"public_key":null,"sequence":0}

        '
  recorded_at: Thu, 27 Aug 2020 10:36:16 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1ea5ucfqfxpwfzsq3ukmf9ued4wemx970ahpdfs&end=1583672400000&limit=1000&offset=0&start=1583672400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '295'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:18 GMT
recorded_with: VCR 4.0.0
