---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"tx":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:37:15 GMT
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr&endTime=1571097600000&limit=1000&offset=0&startTime=1563408000000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"02FEC853E7AE60DCBFE4E737FD28218F6D271AF958435025CABCD68110A54A78","blockHeight":41033971,"txType":"FREEZE_TOKEN","timeStamp":"2019-10-13T11:15:42.880Z","fromAddr":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","toAddr":null,"value":"2515.43000000","txAsset":"RUNE-B1A","txFee":"0.00500000","proposalId":null,"txAge":27559292,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"","source":1,"sequence":1},{"txHash":"50F05C0540B7CFDE346703CF92B0F97520BDB27500F4713729B264D0EF513C7F","blockHeight":40738289,"txType":"FREEZE_TOKEN","timeStamp":"2019-10-12T04:33:10.362Z","fromAddr":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","toAddr":null,"value":"251543.00000000","txAsset":"RUNE-B1A","txFee":"0.00500000","proposalId":null,"txAge":27669845,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"","source":1,"sequence":0},{"txHash":"C24E91C3EE4CF65CE69E7C1B55722B91F62F94326428A1143B1A585EC29B1[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr&endTime=1594166400000&limit=1000&offset=0&startTime=1586476800000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"DE479138A36A208F337D439E5E2A07EAE44C60F0F33040D479C61E3D4A22CCBE","blockHeight":99125299,"txType":"TRANSFER","timeStamp":"2020-07-07T03:23:44.616Z","fromAddr":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","toAddr":"bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23","value":"1729.00000000","txAsset":"BNB","txFee":"0.00037500","proposalId":null,"txAge":4432413,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"107353852","source":1,"sequence":117},{"txHash":"141F09DB579EE2257E207DFFC26024587F9E33A7D8DF8240876B8A97FAEC6E11","blockHeight":99124952,"txType":"NEW_ORDER","timeStamp":"2020-07-07T03:21:22.535Z","fromAddr":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","toAddr":null,"value":"1694.00000000","txAsset":"RUNE-B1A","txFee":"0.00000000","proposalId":null,"txAge":4432555,"orderId":"7FBE111C5830C10FA82968B7AECA76DA5ED85FEB-117","code":0,"data":"{\"orderData\":{\"symbol\":\"RUNE-B1A_BNB\",\"orderType\":\"LIMIT\",\"side\":\"SELL\",\"price\":\"0.0242\",\"quantity\":\"70000\",\"timeInForce\":\"GTE\",\"orderId\":\"7FBE111C5830C10FA82968B7AECA76DA5ED85FEB-117\"}}","confirmBlocks":0,"memo":"","source":1,"sequence":116},{"txHash":"4039AAA7F9505C059A24DB4384C54A2DC37E87B307811D59308D31BA1BC0A9F8","blockHeight":99124769,"txType":"UN_FREEZE_TOKEN","timeStamp":"2020-07-07T03:20:07.715Z","fromAddr":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","toAddr":null,"value":"70000.00000000","txAsset":"RUNE-B1A","txFee":"0.00500000","proposalId":null,"txAge":4432630,"orderId":null,"code":0,"data":null,[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '296'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:37:19 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr&end=1578787200000&limit=1000&offset=0&start=1571097600000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '298'
    body:
      encoding: UTF-8
      string: '{"trade":[{"tradeId":"49607925-0","blockHeight":49607925,"symbol":"CAN-677_BNB","price":"0.00073200","quantity":"74000.00000000","buyerOrderId":"7FBE111C5830C10FA82968B7AECA76DA5ED85FEB-19","sellerOrderId":"EE4062DAB50277F0938D026921BCFBAEB4E66238-5","buyerSource":1,"sellerSource":1,"buyerId":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","sellerId":"bnb1aeqx9k44qfmlpyudqf5jr08m466wvc3cqmrg3m","buyFee":"BNB:0.02166720;","sellFee":"BNB:0.02166720;","baseAsset":"CAN-677","quoteAsset":"BNB","buySingleFee":"BNB:0.02166720;","sellSingleFee":"BNB:0.02166720;","tickType":"BuyTaker","time":1574217680589},{"tradeId":"49607662-7","blockHeight":49607662,"symbol":"CAN-677_BNB","price":"0.00073200","quantity":"1210.00000000","buyerOrderId":"7FBE111C5830C10FA82968B7AECA76DA5ED85FEB-18","sellerOrderId":"EE4062DAB50277F0938D026921BCFBAEB4E66238-5","buyerSource":1,"sellerSource":1,"buyerId":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","sellerId":"bnb1aeqx9k44qfmlpyudqf5jr08m466wvc3cqmrg3m","buyFee":"BNB:0.00983114;","sellFee":"BNB:0.00035428;","baseAsset":"CAN-677","quoteAsset":"BNB","buyS[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/account/bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '298'
    body:
      encoding: ASCII-8BIT
      string: '{"account_number":290459,"address":"bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr","balances":[{"free":"1.11033592","frozen":"0.00000000","locked":"0.00000000","symbol":"BNB"},{"free":"88.00000000","frozen":"0.00000000","locked":"0.00000000","symbol":"CBM-4B2"},{"free":"0.00000000","frozen":"135591.43000000","locked":"0.00000000","symbol":"RUNE-B1A"}],"flags":0,"public_key":[3,25,9,230,132,176,103,120,60,146,25,111,183,99,45,175,168,83,3,58,67,204,28,186,2,244,132,55,13,160,55,102,163],"sequence":134}

        '
  recorded_at: Thu, 27 Aug 2020 10:37:24 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb107lpz8zcxrqsl2pfdzm6ajnkmf0dshltuzxpmr&end=1596200820000&limit=1000&offset=0&start=1596200820000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '295'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:37:26 GMT
recorded_with: VCR 4.0.0
