---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1df40dsktseerh0mh0cdj33zcmssdmvv970ml59&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"BFCBA2F43ACF362E3DC365E1C36A224C7472843190E0A9B905C54FA23D73E229","blockHeight":20585283,"txType":"NEW_ORDER","timeStamp":"2019-07-16T13:35:47.397Z","fromAddr":"bnb1df40dsktseerh0mh0cdj33zcmssdmvv970ml59","toAddr":null,"value":"0.31960000","txAsset":"DUSK-45E","txFee":"0.00000000","proposalId":null,"txAge":35240431,"orderId":"6A6AF6C2CB86723BBF777E1B28C458DC20DDB185-501","code":0,"data":"{\"orderData\":{\"symbol\":\"DUSK-45E_BNB\",\"orderType\":\"LIMIT\",\"side\":\"BUY\",\"price\":\"0.0068\",\"quantity\":\"47\",\"timeInForce\":\"IOC\",\"orderId\":\"6A6AF6C2CB86723BBF777E1B28C458DC20DDB185-501\"}}","confirmBlocks":0,"memo":"","source":2,"sequence":500},{"txHash":"243B31B11BBAA3FA82AD3F10F57490A2678A1E9DF710D3D09427FCD2F886F000","blockHeight":20585214,"txType":"NEW_ORDER","timeStamp":"2019-07-16T13:35:21.955Z","fromAddr":"bnb1df40dsktseerh0mh0cdj33zcmssdmvv970ml59","toAddr":null,"value":"13.03560000","txAsset":"DUSK-45E","txFee":"0.00000000","proposalId":null,"txAge":35240457,"orderId":"6A6AF6C2CB86723BBF777E1B28C458DC20DDB185-500","code":0,"data":"{\"orderData\":{\"symbol\":\"DUSK-45E_BNB\",\"orderType\":\"LIMIT\",\"side\":\"BUY\",\"price[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1df40dsktseerh0mh0cdj33zcmssdmvv970ml59&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[{"tradeId":"20585283-0","blockHeight":20585283,"symbol":"DUSK-45E_BNB","price":"0.00677900","quantity":"47.00000000","buyerOrderId":"6A6AF6C2CB86723BBF777E1B28C458DC20DDB185-501","sellerOrderId":"9F7F66D435C034C1DB040C292E0E62EF83A166F5-51","buyerSource":2,"sellerSource":1,"buyerId":"bnb1df40dsktseerh0mh0cdj33zcmssdmvv970ml59","sellerId":"bnb1nalkd4p4cq6vrkcyps5jurnza7p6zeh4y68lvm","buyFee":"BNB:0.00012744;","sellFee":"BNB:0.00012744;","baseAsset":"DUSK-45E","quoteAsset":"BNB","buySingleFee":"BNB:0.00012744;","sellSingleFee":"BNB:0.00012744;","tickType":"BuyTaker","time":1563284147397},{"tradeId":"20585214-0","blockHeight":20585214,"symbol":"DUSK-45E_BNB","price":"0.00677900","quantity":"1917.00000000","buyerOrderId":"6A6AF6C2CB86723BBF777E1B28C458DC20DDB185-500","sellerOrderId":"9F7F66D435C034C1DB040C292E0E62EF83A166F5-51","buyerSource":2,"sellerSource":1,"buyerId":"bnb1df40dsktseerh0mh0cdj33zcmssdmvv970ml59","sellerId":"bnb1nalkd4p4cq6vrkcyps5jurnza7p6zeh4y68lvm","buyFee":"BNB:0.00519813;","sellFee":"BNB:0.00519813;","baseAsset":"DUSK-45E","quoteAsset":"BNB","[...]
[...]
