---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"tx":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:59 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k&endTime=1578787200000&limit=1000&offset=0&startTime=1571097600000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"DC7911158C8FBE7DB5CA7AF989CA27CD282A8D5F19B49E9AEE3336A1545F91CF","blockHeight":53245843,"txType":"TRANSFER","timeStamp":"2019-12-06T17:15:59.470Z","fromAddr":"bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k","toAddr":"bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23","value":"133.33677289","txAsset":"BNB","txFee":"0.00037500","proposalId":null,"txAge":22872061,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"102941075","source":1,"sequence":83},{"txHash":"1605D9E5FBF239E7DE627E4DB28F86E10566ED275C89E23BE9D58E793E3A135A","blockHeight":53244840,"txType":"NEW_ORDER","timeStamp":"2019-12-06T17:09:22.035Z","fromAddr":"bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k","toAddr":null,"value":"60.75807828","txAsset":"RUNE-B1A","txFee":"0.00000000","proposalId":null,"txAge":22872458,"orderId":"EBF738D09E647DC5BF93BB78ED21DC1B8530A7C5-83","code":0,"data":"{\"orderData\":{\"symbol\":\"RUNE-B1A_BNB\",\"orderType\":\"LIMIT\",\"side\":\"SELL\",\"price\":\"0.00655003\",\"quantity\":\"9276\",\"timeInForce\":\"GTE\",\"orderId\":\"EBF738D09E647DC5BF93BB78ED21DC1B8530A7C5-83\"}}","confirmBlocks":0,"memo":"","source":1,"sequence":82},{"txHash":"83FE4B958635A866703AB747A5A78BF4E7DAC6CF6CF6A1B56BD01ABE4EE0617F","blockHeight":53244779,"txType":"CANCEL_ORDER","timeStamp":"2019-12-06T17:08:58.499Z","fromAddr":"bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k","toAddr":null,"value":null,"txAsset":null,"txFee":null,"proposalId":null,"txAge":22872482,"orderId":null,"code":0,"data":"{\"orderData\":{\"symbol\":\"RUNE-[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:37:02 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k&end=1578787200000&limit=1000&offset=0&start=1571097600000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[{"tradeId":"53244840-0","blockHeight":53244840,"symbol":"RUNE-B1A_BNB","price":"0.00655003","quantity":"9276.00000000","buyerOrderId":"2C3ACBDA0A3DA42FCE4AC4D6750BC371C0BFC176-64587","sellerOrderId":"EBF738D09E647DC5BF93BB78ED21DC1B8530A7C5-83","buyerSource":0,"sellerSource":1,"buyerId":"bnb19savhks28kjzlnj2cnt82z7rw8qtlstkp8xnfr","sellerId":"bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k","buyFee":"BNB:0.02430323;","sellFee":"BNB:0.02430323;","baseAsset":"RUNE-B1A","quoteAsset":"BNB","buySingleFee":"BNB:0.02430323;","sellSingleFee":"BNB:0.02430323;","tickType":"SellTaker","time":1575652162035},{"tradeId":"53244397-0","blockHeight":53244397,"symbol":"RUNE-B1A_BNB","price":"0.00700000","quantity":"1035.00000000","buyerOrderId":"DFD96C02D383851D1E972CBBBEF972FBB8B6BAF8-100","sellerOrderId":"EBF738D09E647DC5BF93BB78ED21DC1B8530A7C5-81","buyerSource":2,"sellerSource":1,"buyerId":"bnb1mlvkcqknswz3685h9jama7tjlwutdwhcgxh74a","sellerId":"bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k","buyFee":"BNB:0.00289800;","sellFee":"BNB:0.00289800;","baseAsset":"RUNE-B1A","quoteAsset":"BNB","[...]
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/account/bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"account_number":318836,"address":"bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k","balances":[{"free":"0.00627194","frozen":"0.00000000","locked":"0.00000000","symbol":"BNB"},{"free":"13392.11500000","frozen":"0.00000000","locked":"0.00000000","symbol":"RUNE-B1A"}],"flags":0,"public_key":[3,77,184,5,37,71,184,171,45,39,26,130,70,220,64,241,244,225,230,126,49,238,133,250,36,70,90,124,54,23,35,88,106],"sequence":97}

        '
  recorded_at: Thu, 27 Aug 2020 10:37:05 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1a0mn35y7v37ut0unhduw6gwurwznpf79zywn0k&end=1583672400000&limit=1000&offset=0&start=1583672400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:37:07 GMT
recorded_with: VCR 4.0.0
