---
http_interactions:
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx&endTime=1563408000000&limit=1000&offset=0&startTime=1555718400000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"tx":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:35:56 GMT
- request:
    method: get
    uri: https://dex.binance.org/api/v1/transactions?address=bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx&endTime=1571097600000&limit=1000&offset=0&startTime=1563408000000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"tx":[{"txHash":"4976DFACF32F60F4196059B5E13CE5C840D31911320005E8CA8FFEFF36D40D18","blockHeight":41137896,"txType":"TRANSFER","timeStamp":"2019-10-13T22:40:51.578Z","fromAddr":"bnb1jxfh2g85q3v0tdq56fnevx6xcxtcnhtsmcu64m","toAddr":"bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx","value":"59.49900000","txAsset":"BNB","txFee":"0.00037500","proposalId":null,"txAge":27518105,"orderId":null,"code":0,"data":null,"confirmBlocks":0,"memo":"BinanceCEX","source":2,"sequence":343483}],"total":1}'
  recorded_at: Thu, 27 Aug 2020 10:35:57 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx&end=1563408000000&limit=1000&offset=0&start=1555718400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:35:59 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/account/bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"account_number":292827,"address":"bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx","balances":[{"free":"0.14149974","frozen":"0.00000000","locked":"0.00000000","symbol":"BNB"}],"flags":0,"public_key":[3,214,104,76,138,210,56,200,99,70,38,140,98,156,253,42,130,170,137,139,198,113,202,22,17,236,245,94,233,115,6,205,160],"sequence":5}

        '
  recorded_at: Thu, 27 Aug 2020 10:36:02 GMT
[...]
- request:
    method: get
    uri: https://dex.binance.org/api/v1/trades?address=bnb1w3cvs5gu82m8ju55vewwzsdqna52gz8jxy6mgx&end=1583672400000&limit=1000&offset=0&start=1583672400000&total=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      X-Ratelimit-Limit-Minute:
      - '300'
      X-Ratelimit-Remaining-Minute:
      - '299'
    body:
      encoding: UTF-8
      string: '{"trade":[],"total":0}'
  recorded_at: Thu, 27 Aug 2020 10:36:04 GMT
recorded_with: VCR 4.0.0
