---
http_interactions:
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/history/trades?limit=1000&offset=0&sort=ASC
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":22016942,"clientOrderId":"515113400838485e85d7ee4476ed4c71","orderId":2451644793,"symbol":"ETHBTC","side":"buy","quantity":"0.455","price":"0.083026","fee":"0.000037777","timestamp":"2017-08-31T06:30:15.844Z"},{"id":22016943,"clientOrderId":"515113400838485e85d7ee4476ed4c71","orderId":2451644793,"symbol":"ETHBTC","side":"buy","quantity":"0.228","price":"0.083026","fee":"0.000018930","timestamp":"2017-08-31T06:30:15.844Z"},{"id":22016944,"clientOrderId":"515113400838485e85d7ee4476ed4c71","orderId":2451644793,"symbol":"ETHBTC","side":"buy","quantity":"0.228","price":"0.083027","fee":"0.000018931","timestamp":"2017-08-31T06:30:15.844Z"},{"id":22016945,"clientOrderId":"51511340[...]
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/public/symbol
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"BCNBTC","baseCurrency":"BCN","quoteCurrency":"BTC","quantityIncrement":"100","tickSize":"0.00000000001","takeLiquidityRate":"0.002","provideLiquidityRate":"0.001","feeCurrency":"BTC"},{"id":"BTCUSD","baseCurrency":"BTC","quoteCurrency":"USD","quantityIncrement":"0.00001","tickSize":"0.01","takeLiquidityRate":"0.002","provideLiquidityRate":"0.001","feeCurrency":"USD"},{"id":"DASHBTC","baseCurrency":"DASH","quoteCurrency":"BTC","quantityIncrement":"0.001","tickSize":"0.000001","takeLiquidityRate":"0.002","provideLiquidityRate":"0.001","feeCurrency":"BTC"},{"id":"DOGEBTC","baseCurrency":"DOGE","quoteCurrency":"BTC","quantityIncrement":"10","tickSize":"0.00000000001","take[...]
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/account/transactions?limit=1000&offset=0&sort=ASC
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"aa100c1e-2a0c-432a-991d-d85d2b5b5281","index":223767325,"type":"payin","status":"success","currency":"BTC","amount":"0.25528331","createdAt":"2017-08-31T06:15:14.215Z","updatedAt":"2017-08-31T06:26:14.242Z","hash":"0e1ee62030b221e06aebfeb521517021543ba6e6ffe56bbdd1a1616169ba3a5e"},{"id":"19ec513c-48fb-4b13-bdb8-a071ed7c3d43","index":223773709,"type":"bankToExchange","status":"success","currency":"BTC","amount":"0.25528331","createdAt":"2017-08-31T06:29:17.369Z","updatedAt":"2017-08-31T06:29:17.393Z"},{"id":"5baa817c-fb30-4f15-b3f8-e72d3c4806bd","index":223803875,"type":"exchangeToBank","status":"success","currency":"MSP","amount":"3790.67000000","createdAt":"2017-08-31T06:39:52.110Z","updatedAt":"2017-08-31T06:39:52.204Z"},{"id":"98a802ca-e767-4747-ab77-c56b68990da5","index":271156695,"type":"bankToExchange","status":"success","currency":"MSP","amount":"2790.67000000","createdAt":"2017-09-18T13:48:04.833Z","updatedAt":"2017-09-18T13:48:04.872Z"},{"id":"ab7d8685-a14e-46ed-92b6-e31427dab4b7","index":271193173,"type":"exchangeToBank","status":"success","currency":"BTC","amount":"0.01426273","createdAt":"2017-09-18T14:05:03.073Z","updatedAt":"2017-09-18T14:05:03.128Z"},{"id":"2b3b20cc-d743-4f89-ab02-e33aaca55936","index":272414522,"type":"payout","status":"success","currency":"BTC","amount":"0.013412730000000000000000","createdAt":"2017-09-19T01:50:26.101Z","updatedAt":"2017-09-19T02:01:16.263Z","hash":"7de28dc14beee2c72c90a87701f3af499c43532157c8cc8be52d625ec0e499dd","address":"3CLmC2Jdm2PZFwM1AvK5nKcsbmsHdc8uNH","fee":"0.00085"},{"id":"0d474a64-c854-450b-8c72-a801516e6a20","index":272430871,"type":"exchangeToBank","status":"success","currency":"ETH","amount":"1.892946230000000000","createdAt":"2017-09-19T02:13:32.268Z","updatedAt":"2017-09-19T02:13:32.301Z"},{"id":"6c64d444-1edb-4791-b596-a7f7ef3be980","index":272431102,"type":"bankToExchange","status":"success","currency":"ETH","amount":"1.892946230000000000","createdAt":"2017-09-19T02:13:42.957Z","updatedAt":"2017-[...]
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/account/balance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"currency":"BBC","available":"100","reserved":"0"},{"currency":"BTC","available":"0","reserved":"0"},{"currency":"BTT","available":"64.858829","reserved":"0"},{"currency":"CHP","available":"0","reserved":"0"},{"currency":"DASH","available":"0","reserved":"0"},{"currency":"ETH","available":"0","reserved":"0"},{"currency":"MSP","available":"0","reserved":"0"},{"currency":"RPM","available":"100","reserved":"0"},{"currency":"PAY","available":"0","reserved":"0"},{"currency":"TRX","available":"500","reserved":"0"},{"currency":"1ST","available":"0[...]
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/trading/balance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"currency":"1ST","available":"0","reserved":"0"},{"cu[...]
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/history/trades?limit=1000&offset=48&sort=ASC
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 02 May 2019 16:28:57 GMT
- request:
    method: get
    uri: https://api.hitbtc.com/api/2/account/transactions?limit=1000&offset=43&sort=ASC
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Wm1vUVJNSG9qQVl0dzdSNk92cXVpelpMRGU5SDJPSFc6eEtxUC9RaXkzQk9sTGo1NjdGV3ArSkR3a2RqbWVCTis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 02 May 2019 16:28:57 GMT
recorded_with: VCR 4.0.0
