---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnDepositsWithdrawals?address=0x8277fCe34eFba4e596E40Dde7E95c09C3c7B27CA&start=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"deposits":[{"currency":"ETH","amount":"0.9","timestamp":1517360154,"transactionHash":"0x5712c688bfcd936131e94ccd1ce441d51e295ab82ffbfae398074513b6d268d6","depositNumber":68047},{"currency":"ETH","amount":"4","timestamp":1517362742,"transactionHash":"0x3b1f21c1da45a18ec7384d91eb07d8d887d7d3b7136f1a7ec9be7c4e99efc1d1","depositNumber":68134},{"currency":"ETH","amount":"8.03419595","timestamp":1517367895,"transactionHash":"0x40cdcb4e0ea769a8b6c8fb7e1a176514636f9d706375c38d5f8dffe1c2a539a7","depositNumber":68301},{"currency":"ETH","amount":"2.9","timestamp":1517617234,"transactionHash":"0x83d3ab37742aa4d7214674e4600609b69d3885bde78143c46f4a64514d1d49a2","depositNumbe[...]
- request:
    method: post
    uri: https://api.idex.market/returnTradeHistory?address=0x8277fCe34eFba4e596E40Dde7E95c09C3c7B27CA&count=100&sort=asc&start=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ETH_TRAC":[{"type":"buy","date":"2018-01-31 01:06:33","amount":"2272.081794944618008621","total":"0.795228628230616303","uuid":"fa77cc90-0622-11e8-89c9-893bfa038918","tid":95734,"timestamp":1517360793,"price":"0.00035","taker":"0xaec8350688f3b255e50e8aa44d71107a0de487fe","maker":"0x8277fce34efba4e596e40dde7e95c09c3c7b27ca","orderHash":"0x5f83fe3e3b2a1d565ad95ef09316901a3fc3c0a9f12fed671e5903146dbe1bcf","transactionHash":"0x826d769e1770939be894bbfb6bdef38533e416a459f6be2d9442be7b313eeffa","tokenBuy":"0xaa7a9ca87d3694b5755f213b5d04094b8d0f0a6f","buyerFee":"2.272081794944618009","gasFee":"0.003229999999999999","sellerFee":"0.001590457256461233","tokenSell":"0x0000000000000000000000000000000000000000","usdValue":"822.675634274353877580"},{"type":"buy","date":"2018-01-31
        01:59:55","amount":"2915.621902151728961041","total":"0.999999999999999999","uuid":"6eafacc0-062a-11e8-89c9-893bfa038918","tid":95889,"timestamp":1517363995,"price":"0.00034298","taker":"0x8277fce34efba4e596e40dde7e95c09c3c7b27ca","maker":"0xdf55c158c5a4e896289c95967685547c39c875af","orderHash":"0xa9ba605f661548639071a9ec6325942c8256fd2a22432a0397bd611401acd5bb","transactionHash":"0xc778e978a22fc8c0d7b8746cc52db168a57d40309d70869[...]
- request:
    method: post
    uri: https://api.idex.market/returnCompleteBalances?address=0x8277fCe34eFba4e596E40Dde7E95c09C3c7B27CA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"LIF":{"available":"0.000000000000000001","onOrders":"0"},"SHIP":{"available":"0.000000000000000002","onOrders":"0"}}'
  recorded_at: Mon, 16 Mar 2020 14:39:52 GMT
- request:
    method: post
    uri: https://api.idex.market/returnDepositsWithdrawals?address=0x8277fCe34eFba4e596E40Dde7E95c09C3c7B27CA&start=1526320514
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"deposits":[],"withdrawals":[{"currency":"ETH","amount":"0.119195737277708872","timestamp":1526320514,"transactionHash":"0x011b31a303f8f075ea3ae01e2fe5eff0eccc04af9a43afd621189223c889eab6","withdrawalNumber":487932,"status":"COMPLETE"}]}'
  recorded_at: Mon, 16 Mar 2020 14:39:53 GMT
- request:
    method: post
    uri: https://api.idex.market/returnTradeHistory?address=0x8277fCe34eFba4e596E40Dde7E95c09C3c7B27CA&count=100&sort=asc&start=1526276855
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ETH_XTRD":[{"type":"buy","date":"2018-05-14 05:47:35","amount":"21462.092171595787755662","total":"0.880804262722291128","uuid":"4d968570-573a-11e8-8e87-0be4c258aaef","tid":996852,"timestamp":1526276855,"price":"0.00004104","taker":"0x67cc45b4480ae5daaca6b51d6fc74f795c74574f","maker":"0x8277fce34efba4e596e40dde7e95c09c3c7b27ca","orderHash":"0xc8ded3f0c1c59c87012e5c6cdb89cff18527727423317b46f0c6dc08f522cf54","transactionHash":"0x5e734a2426b4f874870c9e15402aed9541f933668a6d070a5e750467cb6dde5c","tokenBuy":"0x9c794f933b4dd8b49031a79b0f924d68bef43992","buyerFee":"21.462092171595787756","gasFee":"0.00306","sellerFee":"0.001761608525444582","tokenSell":"0x0000000000000000000000000000000000000000","usdValue":"614.93"}]}'
  recorded_at: Mon, 16 Mar 2020 14:39:53 GMT
recorded_with: VCR 4.0.0
